
<h1><%=@user.phone_number%></h1>
<%if(@user.name != nil)%>
    <h1><%=@user.name %></h1>
<%else%>
    <h1></h1>
<%end%>

<h2> Dreams </h2>
<table>
  <tr>
    <th>Sonho</th>
    <th></th>
    <th>Custo</th>
    <th></th>
    <th>Economizado</th>
    <th></th>
    <th>Economizado essa semana</th>
    <th></th>
    <th>Data inicial</th>
  </tr>


<% @user.dreams.each do |d| %>
<tr>
<td><%= d.dream_name %> </td>
<td></td>
<td><%= d.cost %> </td>
<td></td>
<td><%= d.saved%> </td>
<td></td>
<td><%=d.weekly_saved%></td>
<td></td>
<td><%= d.date%></ŧd>

<%end%>
</tr>

</table>
